{% extends 'base.html' %}
{% load static %}

{% block title %}TLMS Panel{% endblock %}

{% block content %}
<main class="content">
    <!-- Breadcrumb -->
    <section class="page-inner d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-3">
         <div class="page-heading">
             <h1 class="page-title">ULB View</h1>
             <nav aria-label="breadcrumb">
                 <ol class="breadcrumb">
                     <li class="breadcrumb-item">
                         <a href="{% url 'dashboard' %}">Dashboard</a>
                     </li>
                     <li class="breadcrumb-item">
                         <a href="{% url 'ulbs' %}">ULBs</a>
                     </li>
                     <li class="breadcrumb-item">
                        ULB View
                     </li>
                 </ol>
             </nav>
         </div>
    </section>

    <section class="mb-4">
    <div class="card">
        <div class="card-header d-print-none">
            <p class="text-end pt-2">
                <a href="{% url 'ulbs' %}">
                    <button type="button" class="btn btn-xs btn-primary app-open-btn my-1" data-bs-toggle="tooltip" data-bs-placement="top" title="back">
                        <svg viewBox="0 0 24 24" fill="currentColor"><path d="M5.82843 6.99955L8.36396 9.53509L6.94975 10.9493L2 5.99955L6.94975 1.0498L8.36396 2.46402L5.82843 4.99955H13C17.4183 4.99955 21 8.58127 21 12.9996C21 17.4178 17.4183 20.9996 13 20.9996H4V18.9996H13C16.3137 18.9996 19 16.3133 19 12.9996C19 9.68584 16.3137 6.99955 13 6.99955H5.82843Z"></path></svg>
                    </button>
                </a>
            </p>
        </div>
        <div class="card-body p-4">
             <form id="AdvancedForm" class="needs-validation">
                 <div class="row g-4">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                         <label for="ulbCode" class="form-label">ULB Code</label>
                         <p>ULB001</p>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                         <label for="ulbName" class="form-label">ULB Name</label>
                         <p>Bikaner Municipal Corporation</p>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="ulbType" class="form-label">ULB Type</label>
                        <p>Municipal Corporation</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="state" class="form-label">State</label>
                        <p>Rajasthan</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                         <label for="district" class="form-label">District</label>
                         <p>Bikaner</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                         <label for="city" class="form-label">City</label>
                         <p>Bikaner</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                         <label for="legalName" class="form-label">Legal Name</label>
                         <p>Bikaner Municipal Corporation</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="email" class="form-label">Email</label>
                        <p>bmc@raj.com</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="mobile" class="form-label">Mobile No.</label>
                        <p>9876543210</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="contactPerson" class="form-label">Contact Person Name</label>
                        <p>Gopal Sharma</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="address" class="form-label">Address</label>
                        <p>Municipal Road, Mehron Ka Bas, Bikaner, Rajasthan 334001</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label class="form-label">
                            Official Logo
                        </label>
                        <p>
                            <img width="90px" src="{% static 'images/logo/logo.png' %}">
                        </p>
                    </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                         <label for="validFrom" class="form-label">Valid From</label>
                         <p>20 Sep 2026</p>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                         <label for="validUpto" class="form-label">Valid Upto</label>
                         <p>20 Sep 2030</p>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label class="form-label">
                            Status
                        </label><br>
                        <p><span class="badge text-bg-primary fs-6">Active</span></p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="remark" class="form-label">
                            Remark
                        </label>
                        <p>None</p>
                    </div>
                 </div>
             </form>
        </div>
    </div>
    </section>
</main>
{% endblock %}
