{% extends 'base.html' %}
{% load static %}

{% block title %}TLMS Panel{% endblock %}

{% block content %}
<main class="content">
    <!-- Breadcrumb -->
    <section class="page-inner d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-3">
         <div class="page-heading">
             <h1 class="page-title">Add ULB</h1>
             <nav aria-label="breadcrumb">
                 <ol class="breadcrumb">
                     <li class="breadcrumb-item">
                         <a href="{% url 'dashboard' %}">Dashboard</a>
                     </li>
                     <li class="breadcrumb-item">
                         <a href="{% url 'ulbs' %}">ULBs</a>
                     </li>
                     <li class="breadcrumb-item">
                        Add ULB
                     </li>
                 </ol>
             </nav>
         </div>
    </section>

    <section class="mb-4">
     <div class="card">
         <div class="card-body p-4">
             <div class="section-heading">
                 <p>
                    Fields marked with <span class="star-required">*</span> are required.
                 </p>
             </div>
             <form id="AdvancedForm" class="needs-validation">
                 <div class="row g-4">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                         <label for="ulbCode" class="form-label">ULB Code <span class="star-required">*</span></label>
                         <input type="text" class="form-control" id="ulbCode" name="ulbCode" placeholder="Enter ULB code" required>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                         <label for="ulbName" class="form-label">ULB Name <span class="star-required">*</span></label>
                         <input type="text" class="form-control" id="ulbName" name="ulbName" placeholder="Enter ULB name" required>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="ulbType" class="form-label">ULB Type <span class="star-required">*</span></label>
                        <select class="form-select" id="ulbType" name="ulbType" required>
                            <option value="">Select ULB Type</option>
                            <option value="Municipal Corporation">Municipal Corporation</option>
                            <option value="Municipal Council">Municipal Council</option>
                            <option value="Municipality">Municipality</option>
                            <option value="Nagar Panchayar">Nagar Panchayat</option>
                            <option value="Other">Other</option>
                        </select> 
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="state" class="form-label">State <span class="star-required">*</span></label>
                        <select class="form-select searchable-select" name="state" id="state">
                            <option value="">Select State</option>
                            <option value="AN">Andaman and Nicobar Islands</option>
                            <option value="AP">Andhra Pradesh</option>
                            <option value="AR">Arunachal Pradesh</option>
                            <option value="AS">Assam</option>
                            <option value="BR">Bihar</option>
                            <option value="CH">Chandigarh</option>
                            <option value="CT">Chhattisgarh</option>
                            <option value="DD">Dadra and Nagar Haveli and Daman and Diu</option>
                            <option value="DL">Delhi</option>
                            <option value="GA">Goa</option>
                            <option value="GA">Gujarat</option>
                            <option value="HR">Haryana</option>
                            <option value="HP">Himachal Pradesh</option>
                            <option value="JK">Jammu and Kashmir</option>
                            <option value="JH">Jharkhand</option>
                            <option value="KA">Karnataka</option>
                            <option value="KL">Kerala</option>
                            <option value="LA">Ladakh</option>
                            <option value="LD">Lakshadweep</option>
                            <option value="MP">Madhya Pradesh</option>
                            <option value="MH">Maharashtra</option>
                            <option value="MN">Manipur</option>
                            <option value="ML">Meghalaya</option>
                            <option value="MZ">Mizoram</option>
                            <option value="NL">Nagaland</option>
                            <option value="OR">Odisha</option>
                            <option value="PY">Puducherry</option>
                            <option value="PB">Punjab</option>
                            <option value="RJ">Rajasthan</option>
                            <option value="SK">Sikkim</option>
                            <option value="TN">Tamil Nadu</option>
                            <option value="TG">Telangana</option>
                            <option value="TR">Tripura</option>
                            <option value="UT">Uttarakhand</option>
                            <option value="UP">Uttar Pradesh</option>
                            <option value="WB">West Bengal</option>                                    
                       </select>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="district" class="form-label">District <span class="star-required">*</span></label>
                        <input type="text" class="form-control" id="district" name="district" placeholder="Enter district" required>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="city" class="form-label">City <span class="star-required">*</span></label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="Enter city" required>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="legalName" class="form-label">Legal Name <span class="star-required">*</span></label>
                        <input type="text" class="form-control" id="legalName" name="legalName" placeholder="Enter legal name" required>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="email" class="form-label">Email <span class="star-required">*</span></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="mobile" class="form-label">Mobile No. <span class="star-required">*</span></label>
                        <input type="number" class="form-control" id="mobile" name="mobile" placeholder="10 digit mobile number" required>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="contactPerson" class="form-label">Contact Person Name <span class="star-required">*</span></label>
                        <input type="number" class="form-control" id="contactPerson" name="contactPerson" placeholder="Enter contact person" required>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="textarea-counter-wrapper">
                            <label for="address" class="form-label">
                                Address <span class="star-required">*</span>
                            </label>
                            <textarea class="form-control" id="address" maxlength="500" placeholder="Type address here..."></textarea>
                            <div class="form-text text-end">
                                <span class="textarea-count">0</span>/<span class="textarea-max">500</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label class="form-label">
                            Official Logo
                        </label>
                        <div class="file-upload">
                            <input type="file" id="fileInput" name="attachments" class="visually-hidden" accept=".jpg,.jpeg,.png,.pdf,.doc">
                            <label for="fileInput" class="drop-zone" id="dropZone" tabindex="0" role="button" aria-label="Upload file">
                                <div class="upload-icon">
                                    <svg viewBox="0 0 24 24" fill="currentColor"><path d="M1 14.5C1 12.1716 2.22429 10.1291 4.06426 8.9812C4.56469 5.044 7.92686 2 12 2C16.0731 2 19.4353 5.044 19.9357 8.9812C21.7757 10.1291 23 12.1716 23 14.5C23 17.9216 20.3562 20.7257 17 20.9811L7 21C3.64378 20.7257 1 17.9216 1 14.5ZM16.8483 18.9868C19.1817 18.8093 21 16.8561 21 14.5C21 12.927 20.1884 11.4962 18.8771 10.6781L18.0714 10.1754L17.9517 9.23338C17.5735 6.25803 15.0288 4 12 4C8.97116 4 6.42647 6.25803 6.0483 9.23338L5.92856 10.1754L5.12288 10.6781C3.81156 11.4962 3 12.927 3 14.5C3 16.8561 4.81833 18.8093 7.1517 18.9868L7.325 19H16.675L16.8483 18.9868ZM13 13V17H11V13H8L12 8L16 13H13Z"></path></svg>
                                </div>
                                <div class="drop-zone-title">
                                    Drag & drop file here
                                </div>
                                <div class="drop-zone-text">
                                    or click to browse files
                                    <br>
                                    PNG, JPG, JPEG up to 1 MB
                                </div>
                            </label>
                            <div class="preview"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="validFrom" class="form-label">Valid From <span class="star-required">*</span></label>
                        <input type="date" class="form-control" id="validFrom" name="validFrom" required>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label for="validUpto" class="form-label">Valid Upto <span class="star-required">*</span></label>
                        <input type="date" class="form-control" id="validUpto" name="validUpto" required>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label class="form-label">
                            Status <span class="star-required">*</span>
                        </label><br>
                        <div class="selectgroup selectgroup-primary selectgroup-pills">
                            <label class="selectgroup-item mb-2">
                              <input type="radio" name="status" value="active" class="selectgroup-input" id="status1" required="" checked>
                              <span class="selectgroup-button ">Active</span>
                            </label>
                            <label class="selectgroup-item mb-2">
                              <input type="radio" name="status" value="inactive" class="selectgroup-input" id="status2" required="">
                              <span class="selectgroup-button">Inactive</span>
                            </label>
                        </div>
                    </div>
                                                 
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="textarea-counter-wrapper">
                            <label for="remark" class="form-label">
                                Remark
                            </label>
                            <textarea class="form-control" id="remark" maxlength="500" placeholder="Type remark here..."></textarea>
                            <div class="form-text text-end">
                                <span class="textarea-count">0</span>/<span class="textarea-max">500</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-print-none">
                        <p class="text-center pt-2">
                          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                          <a href="{% url 'ulbs' %}"><button type="button" class="btn btn-secondary btn-sm" name="button">Back</button></a>
                        </p>
                    </div>
                 </div>
             </form>
         </div>
     </div>

 </section>
</main>
{% endblock %}
